@import url('https://fonts.googleapis.com/css?family=Oswald');

@media screen and (max-width: 540px) {
    .title {
        font-size: 34px !important;
        margin-bottom: 10px !important;
    }

    .selection-box {
        border-radius: 5px !important;

        padding: 0 !important;
        margin:  0 5px 5px 5px !important;

        -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5) !important;
        -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5) !important;
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5) !important;
    }

    .selection-box p {
        font-size: xx-small !important;
        padding: 5px !important;
        height: 100px !important;
        width: 100px !important;
    }
}

@media screen and (min-width: 540px) and (max-width: 780px) {
    .title {
        font-size: 50px !important;
        margin-bottom: 20px !important;
    }

    .selection-box {
        border-radius: 8px !important;

        padding: 0 !important;
        margin:  0 8px 8px 8px !important;

        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5) !important;
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5) !important;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5) !important;
    }

    .selection-box p {
        font-size: small !important;
        padding: 8px !important;
        height: 128px !important;
        width: 128px !important;
    }
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.selection-box {
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    padding: 0 !important;
    margin:  0 10px 10px 10px;

    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.selection-box p {
    padding: 10px;
    margin: 0;
    height: 160px;
    width: 160px;
    display: table-cell;
    vertical-align: middle;
}