@import url('https://fonts.googleapis.com/css?family=Oswald');

@media screen and (max-width: 440px) {
    .title {
        font-size: 26px !important;
        margin-top: 70px !important;
        margin-bottom: -5px !important;
    }

    .page-menu {
        top: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .page-menu li{
        border-top-left-radius: 3px !important;
        border-top-right-radius: 3px !important;
        padding: 2px 8px !important;
        font-size: xx-small !important;
    }

    .page-content {
        padding: 5px 10px !important;
        font-size: x-small !important;
    }

    .page-content-image {
        width: 32px !important;
        height: 32px !important;
    }

    .page-container {
        margin: 20px auto !important;
    }

    .divider {
        margin: 8px 0 !important;
    }

    .description-row {
        font-size: 14px !important;
    }

    .section-header {
        font-size: 26px !important;
        margin-top: 8px !important;
        margin-bottom: 3px !important;
    }

    .section-subheader {
        font-size: 18px !important;
        margin: 6px 0 !important;
    }

    #page-menu-list ul     {
        display: none; !important;
    }

    #page-menu-list select {
        display: inline-block !important;
        position: absolute; !important;
        top: -100px;
        left: -20px;
        color: black;
        background-color: rgba(0, 0, 0, 0.02);
    }

    .page-container {
        margin: 20px auto !important;
    }

    #section-4, #section-5 {
        padding: 0 10px; !important;
    }

    .section-header {
        font-size: 28px !important;
    }
}

@media screen and (min-width: 441px) and (max-width: 541px) {
    .title {
        font-size: 34px !important;
        margin-top: 25px !important;
        margin-bottom: 10px !important;
    }

    .page-menu {
        top: -21px !important;
        left: -41px !important;
        margin: 0 0 -32px 0;
        padding: 0;
    }

    .page-menu li{
        border-top-left-radius: 3px !important;
        border-top-right-radius: 3px !important;
        padding: 2px 8px !important;
        font-size: xx-small !important;
    }

    .page-content {
        padding: 5px 10px !important;
        font-size: x-small !important;
    }

    .page-content-image {
        width: 64px !important;
        height: 64px !important;
    }

    .page-container {
        margin: 20px auto !important;
    }

    .divider {
        margin: 8px 0 !important;
    }

    .description-row {
        font-size: 14px !important;
    }

    .section-header {
        font-size: 26px !important;
        margin-top: 8px !important;
        margin-bottom: 3px !important;
    }

    .section-subheader {
        font-size: 18px !important;
        margin: 6px 0 !important;
    }

    #section-4, #section-5 {
        padding: 0 10px; !important;
    }
}

@media screen and (min-width: 542px) and (max-width: 780px) {
    .title {
        font-size: 50px !important;
        margin-top: 35px !important;
        margin-bottom: 25px !important;
    }

    .page-menu {
        top: -24px !important;
        left: -41px !important;
        margin: 0 0 -32px 0;
        padding: 0;
    }

    .page-menu li{
        border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
        padding: 4px 8px !important;
        font-size: small !important;
    }

    .page-content {
        padding: 8px 15px !important;
        font-size: small !important;
    }

    .page-content-image {
        width: 80px !important;
        height: 80px !important;
        max-width: 512px !important;
        max-height: 512px !important;
    }

    .page-container {
        margin: 40px auto !important;
    }

    .divider {
        margin: 14px 0 !important;
    }

    .description-row {
        font-size: 16px !important;
    }

    .section-header {
        font-size: 26px !important;
        margin-top: 12px !important;
        margin-bottom: 5px !important;
    }

    #section-4, #section-5 {
        padding: 0 5px; !important;
    }
}

html, body {
    background-color: #fff;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

#page-menu-list select {
    display: none;
}

#page-menu-list select {
    display: none;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.back-button {
    background-color: rgba(200, 0, 0, 0.3) !important;
}

.back-button:hover{
    background-color: rgba(200, 0, 0, 1) !important;
    color: white !important;
}

.back-to-home {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    text-decoration: none !important;
    color: #5e5d5d;
    border-radius: 8px;

}

.back-to-home:hover{
    color: black;
    font-weight: bold;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.m-b-md {
    margin-bottom: 30px;
}

.page-menu {
    position: relative;
    top: -26px;
    left: -41px;
    margin: 0 0 -32px 0;
    padding: 0;
}

.page-menu li{
    display: inline;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.page-menu a {
    text-decoration: none;
    color: #000;
}

.page-menu a:hover {
    color: #5a6268;
}

.page-section {
    margin: 0 auto;
    padding: 0;
}

.active {
    background-color: #fff;
    color: #1e7e34;
}

.page-content {
    font-family: 'Oswald', sans-serif !important;
    color: rgba(70, 70, 70, 1);
    padding: 10px 20px;
    font-size: large;
    font-weight: 100 !important;
}

.page-content-image {
    max-width: 256px;
    max-height: 256px;
    display: block;
    margin: auto;
}

.page-container {
    border: 1px solid rgba(0,0,0,0.1);
    width: 75%;
    margin: 80px auto;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
    background-color: #fff;
}

.description-row {
    margin-bottom: 10px;
    color: black !important;
    font-size: 18px;
    font-weight: lighter !important;
}

.section-header {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 10px;
    color: black !important;
}

.section-formula-header {
    font-size: 28px;
    margin-bottom: 5px;
    color: black !important;
}

#right-result {
    background-color: rgba(0, 255, 0, 0.2);
}

#wrong-result {
    background-color: rgba(255, 0, 0, 0.2);
}

.test-result-row {
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 5px;
    margin-left: 0 !important;
}

.popup_dial {
    display: none;
    margin: 0;
    padding: 5px;
    position: fixed;
    left: calc(50vw - 200px);
    top: calc(50vh - 100px);
    width: 400px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
}

.popup_dial h2{
    color: red;
    font-weight: bold;
}

#background-fade {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.calc-input-field {
    background: rgba(0, 0, 0, 0.1);
}

.calc-input-field:hover {
    background: rgba(0, 0, 0, 0.02);
}

.calc-input-field:focus {
    background: rgba(255, 255, 255, 1);
}

.calc-output-field {
    margin: 0 !important;
}

#enableOnCalc {
    display: none;
}

.formula {
    border: 1px solid rgba(200, 0, 0, 0.5) !important;
    padding: 3px !important;
}

.row-shadow {
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(0,0,0,0.08);
}

#section-4, #section-5 {
    padding: 0 5px;
    min-height: 150px;
}

#tests-form {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0px;
}

#tests-form h3 {
    background-color: rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 5px;
}

.test-radio {
    margin: 0 5px;
}

.test-submit {
    margin: 0;
}

.test-submit {
    margin: 5px 0 5px 5px;
}